@@ -5,14 +5,13 @@
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;

}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
    position:relative;
}

.container{
@@ -28,11 +27,26 @@
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu{
    display: block;
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo{
    color: var(--laranja);
}

.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}